.schemaTable a {
  color: hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  text-wrap: nowrap;
  text-decoration-line: underline;
  text-underline-position: from-font;
  text-decoration-thickness: from-font;
}